html {
  font-size: 12px;
}


body {
  font-size: 14px;
  line-height: 1.2;
  font-family: 'Merriweather Light',sans-serif;
  color:#7b7b7b;
}



nav {
  text-transform: uppercase;

}


#header {
  padding-top: 40px;
}

#header .phone {
  font-size: 16px;
  color: #5b5b5b;
}

.logo {text-align:center;}

.mainnav {display:block;margin-top:25px;text-align: center;margin-bottom: 28px;}

.mainnav a {color:#7a7a7a;padding:0 12px;}

.mainnav li:after{
  content:'/';
}
.mainnav li:last-child:after{content:'';}
.mainnav .active a {
  color: #a0d1c3;
}


nav ul {display: inline-block;padding:0;margin:0;}
nav ul li {display: inline-block;list-style: none;}


#top {
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
  min-height:670px;

}

#guests {
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
  min-height:670px;
  position: relative;
  margin-top:20px;
}

#guests .guest-card {
  top:50%;
  left:0;
  position: absolute;
  width: 100%;
  margin-top:-190px;
}
.base__item {
  margin-bottom: 20px;
  text-align: center;
}
.base__item__container{
  border:3px solid #d2e9ee;
}

.base__item:hover .base__item__container{
  border-color:#b8ddd2;
}

.steps__item {
  background: #d2e9ee;
  margin-top: 20px;
  margin-bottom: 30px;
  padding:20px 0;
  text-align: center;
  color:#5a5a5a;
  font-size: 30px;
  text-transform: uppercase;
}
.materials__item {
  display: inline-block;
  vertical-align: middle;
  width: 13%;

}

.materials {
  margin-bottom: 30px;
}
.steps__item__top {
  font-size: 18px;
  color:#7a7a7a;
}
.app-steps-item {display: none;}

.app-steps-item.active {display: block;}

.hide {display: none;}


#footer {
  background:#231f20;
  padding:30px 0;
}


.steps nav a {
  background:#CDEAEF;
  color: #7a7a7a;
  font-size: 18px;
}

.steps nav a span {
  font-size: 30px;
  color:#5a5a5a;
}
